<div class="container-fluid hd-movie  pd-ct pd-logo">
    <div class="content d-flex justify-content-between align-items-center">
        <a href="/"class="logo text-light">
            <span> 
               <i class="fas fa-film text-warning"></i> <span> <span class="fw-bold">FULL  <span class="fw-light">PHIM</span> </span></span>
            </span>
        </a>
        <div class="navigation text-light d-flex ">
            <div id="CatePhimmoi" class="nav-item" ><a href="/" class="">Phim mới</a></div>
            <div id="CatePhimle" class="nav-item" ><a href="/type/phimle">Phim lẻ</a></div>
            <div id="CatePhimbo" class="nav-item"><a href="/type/phimbo">Phim bộ</a></div>
            <div id="CatePhimhoathinh" class="nav-item"><a href="/type/phimhoathinh">Phim hoạt hình</a></div>
            <div id="CatePhimchieurap" class="nav-item"><a href="/type/phimchieurap">Phim chiếu rạp</a></div>
            <div class="dropdown">
       <button style="display:none" class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
       Chức năng
        </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/me/addmovie">Thêm phim</a></li>
        <li><a class="dropdown-item" href="/me/listmovie  ">Danh sách Phim</a></li>
  
     </ul>
</div>
        </div>
        <div class="navigation-mini text-light d-flex fs-2">
               <button id="btn-menu" class="btn btn-danger"> <i class="fas fa-bars"></i></button> 
        </div>
    </div>
</div>


